body {
    margin: 0;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.ap-site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.ap-container {
    flex: 1;
    min-height: calc(100vh - 15px - 100px);
}

.breadcrum-back {
    font-size: 15px;
}

.link {
    color: #363636;
}

.link:hover {
    text-decoration-style: wavy;
    text-decoration-color: #363636;
    color: #363636;
}

.link-white {
    color: white;
}

.link-white:hover {
    text-decoration-style: wavy;
    text-decoration-color: white;
    color: white;
}

.link-grey {
    color: hsl(0deg, 0%, 21%);
}

.link-grey:hover {
    text-decoration-style: wavy;
    text-decoration-color: grey;
    color: hsl(0deg, 0%, 21%);
}

/* Nav bar */
.nav {
    background-color: #363636;
    display: flex;
    flex-direction:row;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav .nav-front:before {
	content: '// ';
    font-size: 20px;
    font-weight:900;
}

.nav-front {
    color: white;
    font-size: 20px;
    padding-left: 10px;
}

.nav-back {
    margin-left: auto;
}

#nav-active {
    background-color: #d20163;
    color: white;
}

.nav-entry {
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-decoration: none;
}

.nav-entry:hover {
    background-color: white;
    color: #363636;
}

@supports (-moz-appearance:none) {
    #nav-active {
        background-color: #d20163;
        color: white;
        border: 1px solid #d20163;
    }

    .nav-entry {
        color: white;
        font-size: 20px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        text-decoration: none;
        border: 1px solid #363636;
    }

    .nav-entry:hover {
        background-color: white;
        color: #363636;
        border: 1px solid white;
        border-bottom: 1px solid #d20163;
    }
}

/* Hero */
.hero {
    background-color: #d20163;
    padding-top: 20px;
    padding-bottom: 30px;
}

.hero h1:before {
	content: '// ';
    font-size: 30px;
    font-weight:900;
}

.hero h1 {
    color: white;
    padding-left: 50px;
    font-size: 30px;
    font-weight: normal;
}

.hero h2:before {
	content: '/ ';
    font-size: 20px;
    font-weight:900;
}

.hero h2 {
    color: white;
    padding-left: 50px;
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
}

/* Footer */
.footer {
    height: 100px;
    background-color: #363636;
    color: white;
    text-align: center;
    align-content: center;
}

@media (min-width: 1000px) {
    .footer-sticky {
        width: 100%;
        bottom: 0;
        overflow:hidden;
    }
}

/* Sections */
.stretchable {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	box-sizing: border-box;
}

main h1:before {
	content: '// ';
    font-size: 30px;
    font-weight:900;
}

main h1 {
    color: black;
    padding-left: 50px;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 10px;
}

main h2:before {
	content: '/ ';
    font-size: 20px;
    font-weight:900;
}

main h2 {
    color: black;
    padding-left: 50px;
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
}

main p {
    padding-left: 80px;
    font-size: 17px;
}

main ul {
    padding-left: 80px;
    font-size: 17px;
}

table {
    padding-left: 80px;
    font-size: 17px;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #600064;
    color: white;
}

/* Forms */
.form-label::before{
    content: '/ ';
    font-size: 17px;
    font-weight:900;
}

.form-label {
    padding-left: 70px;
}

.form input, .form textarea, .form-submit {
    margin-top: 5px;
    margin-left: 80px;
}

.form-regular {
    width: 400px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #363636;
}

.form-select {
    width: 400px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #363636;
    background: none;
    margin-left: 80px;
}

.form-large {
    width: 400px;
    padding: 15px;
    height: 100px;
    border: none;
    border-bottom: 2px solid #363636;
}

.form-regular:focus, .form-large:focus, .form-select:focus {
    border-color: #d20163;
}

.form-submit {
    background-color: #363636;
    color: white;
    padding: 20px;
    width: 400px;
    font-size: 17px;
    cursor: pointer;
    border: 1px solid #363636;
    text-decoration: none;
}

.form-submit-multi {
    background-color: #363636;
    color: white;
    margin-left: 80px;
    padding: 10px;
    width: 100px;
    font-size: 17px;
    cursor: pointer;
    border: 1px solid #363636;
    text-decoration: none;
}

.form-submit:hover, .form-submit-multi:hover {
    background-color: #4a4a4a;
    border: 1px solid #4a4a4a;
}

.form-submit:active, .form-submit-multi:active {
    background-color: white;
    color: #363636;
    border: 1px solid #363636;
}

.form-error {
    background-color: red;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.form-success {
    background-color: green;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#form-white {
    color: white;
}

.form-inline-error {
    margin-left: 80px;
    color: red;
}

.form-inline-error-button {
    margin-left: 80px;
    color: red;
}

.form-noselect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.form-noselect:focus {
    outline: none !important;
}
